

body{

}
/*h1{
    background: teal;
    padding:10px;
    text-align: center; }*/
  

.wrapper{
     align-content: center;
        margin:5%    


}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    float:left;
    color:white;
    background-color: teal;
    margin:auto;
    padding:10px;
}
    

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
    font-size: 30px;
    padding: 10px;
    margin: 25px 20px;
    border-bottom: 3px solid #666666;
}
nav{
    display: inline-block;
 float:right;
 width: 60%;
}
nav li a:hover{
    background-color: greenyellow ;
    color: black;
}


#header{
    width:35%;
    display:inline-block;
    overflow:hidden;margin-bottom: 0;
}
img{
    max-width: 200px;
    float:left;
    margin:20px;
    padding: 20px;
}
nav a{
    text-decoration: none;
    border:1px solid white;
    padding: 5px;
    
}
nav li {
display: inline-block;
padding:5px;
}
nav ul{
    list-style: none;
   
}
.box{
    max-width: 960px;
    height: 320px;
    margin: auto;
    background-color: #ffffff;
    border-color: #dddddd;
}
/*.main{
    background: rgb(205, 209, 209);
}*/
.content #img-box1{
    height: 175px;
    width:200px;
    margin: 10px 10px 10px 20px;
    float:left;
}
.content #img-box1 #hm{
    height:30px;
    position:absolute;
    top:35%;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background-color: #4aaaa5;
    width:200px;
    text-align: center;
    padding:10px;
}
.content{
    border-color:#810ae2;
    background-color: chocolate;
    max-width: 960px;
    height:720px;
    margin: auto;
}


footer{
    background-color: dimgrey;
    text-align: center;
    padding:10px;
    
}
 *{box-sizing: border-box;}
        body {font-family: Arial, Helvetica, sans-serif;}
        
        input[type=text], select, textarea
         {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
        

        .container{border-radius: 10px;
            background-color:#f2f2f2;
            padding:20px;
        
        }
        input[type=submit] {
  background-color:cadetblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover { background-color: rgb(34, 231, 16);}

/*input{
    width 100%;
    padding 12px 20px;
    margin 8px 0;
    box-sizing: border-box;
}*/



/*body{
font-family: Arial, Helvetica, sans-serif;
}
*{box-sizing: border-box;}
h1{
    background: teal;
    padding:10px;
    text-align: center; }
  

.wrapper{ align-content: center;
    margin:5%


}
nav{
    display: inline-block;
 float:right;
 width: 60%;
}
nav li a:hover{
    background-color: greenyellow ;
    color: black;
}
#content{
   padding:5px;
}
#header{
    width:35%;
    display:inline-block;
    overflow:hidden;margin-bottom: 0;
}
img{
    max-width: 200px;
    float:left;
    margin:20px;
    padding: 20px;
}
nav a{
    text-decoration: none;
    border:1px solid white;
    padding: 5px;
    
}
nav li {
display: inline-block;
padding:5px;
}
nav ul{
    list-style: none;
   
}
.main{
    background: rgb(205, 209, 209);
}



footer{
    background-color: dimgrey;
    text-align: center;
    padding:10px;
    
}
  
input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
    
          
  
          .container{border-radius: 10px;
              background-color:#f2f2f2;
              padding:20px;
          
          }
          input[type=submit] {
    background-color:cadetblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover { background-color: rgb(34, 231, 16);}
  
/*input{
    width 100%;
    padding 12px 20px;
    margin 8px 0;
    box-sizing: border-box;
}*/